<div class="mui-row new_int_table">
    <form class="mui-form">
        <div class="mui-col-md-4 mui-col-md-offset-1 form-div">
            <legend>CANDIDATE</legend>
            <div class="mui-textfield">
                <label>Name</label>
                <input type="text" placeholder="Enter Name" required="required" id="new-int-firstName" class="input-txt">
            </div>
            <div class="mui-textfield">
                <label>Surname</label>
                <input type="text" placeholder="Enter Surname" required="required" id="new-int-lastName" class="input-txt">
            </div>
            <div class="mui-textfield">
                <label>Phone</label>
                <input type="phone" placeholder="Enter Phone" required="required" id="new-int-phone" class="input-txt">
            </div>
            <div class="mui-textfield">
                <label>Email</label>
                <input type="text" placeholder="Enter Email" required="required" id="new-int-email" class="input-txt">
            </div>
            <div class="mui-textfield">
                <label>Skype</label>
                <input type="text" placeholder="Enter Skype" required="required" id="new-int-skype" class="input-txt">
            </div>
            <div class="mui-select">
                <label>Position</label>
                <select id="new-int-position">
                    <option value="">Choose position</option>
                </select>
            </div>
        </div>
        <div class="mui-col-md-4 form-div">
            <legend>INTERVIEW</legend>
            <div class="mui-textfield">
                <label>Date</label>
                <input type="text" id="new-int-date">
            </div>
            <div class="mui-textfield">
                <label>Time</label>
                <input type="text" id="new-int-time" data-time-format="H:i">
            </div>
            <div class="mui-select">
                <label>Location</label>
                <select id="new-int-location">
                    <option value="">Enter Location</option>
                </select>
            </div>
            <div class="mui-select">
                <label>Room</label>
                <select id="new-int-room">
                    <option value="">Choose Room</option>
                </select>
            </div>
            <div class="mui-select">
                <label>Assigned Person</label>
                <select id="new-int-assperson">
                    <option value="">Choose person</option>
                </select>
            </div>
            <div class="mui-textfield">
                <label>Notes</label>
                <textarea rows="5" maxlength="170" placeholder="Enter Notes" required="required" class="text-area" id="new-int-note"></textarea>
            </div>
        </div>
    </form>
</div>
<div class="mui-row">
    <div class="mui-col-md-7 btn_footer inner-shadow">
        <button class="mui-btn mui-btn--raised form_btn_close" id="btn-edit-int-close">CLOSE INTERVIEW</button>
        <button class="mui-btn mui-btn--raised form_btn_save" id="btn-edit-int-save">SAVE</button>
        <button class="mui-btn mui-btn--raised form_btn_cancel" id="btn-edit-int-cancel">CANCEL</button>
    </div>
</div>
<div class="mui-row footer-responsive">
    <i class="material-icons basic-icon edit-icon menu-icon menu-icon-close" id="btn-edit-int-close-r">lock_outline</i>
    <i class="material-icons basic-icon edit-icon menu-icon menu-icon-save" id="btn-edit-int-save-r">save</i>
    <i class="material-icons basic-icon edit-icon menu-icon menu-icon-cancel" id="btn-edit-int-cancel-r">close</i>
</div>
