<div class="content-tab new_int_table" id="my-interviews">
    <table class="mui-table mui-table--bordered">
        <div>
            <thead>
            <tr>
                <th class="mui--no-user-select table-header"></th>
                <th class="mui--no-user-select table-header">Name</th>
                <th class="mui--no-user-select table-header">Phone</th>
                <th class="mui--no-user-select table-header">Email</th>
                <th class="mui--no-user-select table-header">Status</th>
                <th class="mui--no-user-select table-header">Actions</th>
            </tr>
            </thead>
        </div>
        <div>
            <tbody>
            </tbody>
        </div>
    </table>
</div>
