<div class="content-tab new_int_table" id="my-interviews">
    <table class="mui-table">
        <div>
            <thead>
            <tr>
                <th class="mui--no-user-select table-header"></th>
                <th class="mui--no-user-select table-header">Name</th>
                <th class="mui--no-user-select table-header">Phone</th>
                <th class="mui--no-user-select table-header">Email</th>
                <th class="mui--no-user-select table-header">Status</th>
                <th class="mui--no-user-select table-header">Actions</th>
            </tr>
            </thead>
        </div>
        <div>
            <tbody>
            </tbody>
        </div>
    </table>
</div>
<div id="pagtination" class="mui--pull-right" style="margin-right: 10%;">
    <span id="showed-pages" style="display: inline-block; padding-bottom: 6px;"></span>
    <div style="display: inline-block;">
        <button class="mui-btn mui-btn--flat" style="background-color: #e7e7e7; padding: 0;" id="prev-page"><i class="material-icons" style="width: 34px; height: 34px; padding: 5px;">arrow_backward</i></button>
        <button class="mui-btn mui-btn--flat" style="background-color: #e7e7e7; padding: 0;" id="next-page"><i class="material-icons" style="width: 34px; height: 34px; padding: 5px;">arrow_forward</i></button>
    </div>
</div>