<div class="content-tab new_int_table mui-col-md-offset-1" id="my-interviews">
    <table class="mui-table mui-table--bordered">
        <div>
            <thead>
                <tr>
                    <th class="mui--no-user-select table-header">Name</th>
                    <th class="mui--no-user-select table-header">Phone</th>
                    <th class="mui--no-user-select table-header">Email</th>
                    <th class="mui--no-user-select table-header">Status</th>
                    <th class="mui--no-user-select table-header">Actions</th>
                </tr>
            </thead>
        </div>
        <div>
            <tbody>
                <tr class="table-content">
                    <td>
                        <div class="name-of-applicant">Steven Hyde</div>
                        <div class="job-type">Sr. UX Designer</div>
                    </td>
                    <td>(650) 555-1234</td>
                    <td>aliconnors@example.com</td>
                    <td>Created</td>
                    <td>
                        <i class="material-icons delete-icon">&#xE872;</i>
                        <i class="material-icons edit-icon">&#xE150;</i>
                    </td>
                </tr>
            </tbody>
        </div>
    </table>
</div>
