<div class="mui-row new_int_table">
    <form class="mui-form">
        <div class="mui-col-md-4 mui-col-md-offset-1 form-div">
            <legend>CANDIDATE</legend>
            <div class="mui-textfield">
                <label>Name</label>
                <input type="text" placeholder="Enter Name" required="required" id="new-int-firstName"> </div>
            <div class="mui-textfield">
                <label>Surname</label>
                <input type="text" placeholder="Enter Surname" required="required" id="new-int-lastName"> </div>
            <div class="mui-textfield">
                <label>Phone</label>
                <input type="phone" placeholder="Enter Phone" required="required" id="new-int-phone"> </div>
            <div class="mui-textfield">
                <label>Email</label>
                <input type="text" placeholder="Enter Email" required="required" id="new-int-email"> </div>
            <div class="mui-textfield">
                <label>Skype</label>
                <input type="text" placeholder="Enter Skype" required="required" id="new-int-skype"> </div>
            <div class="mui-select">
                <label>Position</label>
                <select id="new-int-position">
                    <option value="">Choose position</option>
                </select>
            </div>
        </div>
        <div class="mui-col-md-4 form-div">
            <legend>INTERVIEW</legend>
            <div class="mui-textfield">
                <label>Date</label>
                <input type="date" id="new-int-date"> </div>
            <div class="mui-textfield">
                <label>Time</label>
                <input type="time" id="new-int-time"> </div>
            <div class="mui-select">
                <label>Location</label>
                <select id="new-int-location">
                    <option value="">Enter Location</option>
                </select>
            </div>
            <div class="mui-select">
                <label>Room</label>
                <select id="new-int-room">
                    <option value="">Choose Room</option>
                </select>
            </div>
            <div class="mui-select">
                <label>Assigned Person</label>
                <select id="new-int-assperson">
                    <option value="">Choose person</option>
                    <!-- <option value="ass_person_norris">Chuck Norris</option>
                    <option value="ass_person_macgyver">Mc Gyver</option>-->
                </select>
            </div>
        </div>
    </form>
</div>
<div class="mui-row">
    <div class="mui-col-md-7 btn_footer inner-shadow">
        <button class="mui-btn w3-card-2  form_btn_save" id="btn-my-int-save">SAVE</button>
        <button class="mui-btn w3-card-2 form_btn_cancel" id="btn-my-int-cancel">CANCEL</button>
    </div>
</div>
<div class="mui-row footer-responsive">
    <i class="material-icons basic-icon edit-icon menu-icon menu-icon-save" id="btn-edit-int-save-r">save</i>
    <i class="material-icons basic-icon edit-icon menu-icon menu-icon-cancel" id="btn-edit-int-cancel-r">close</i>
</div>
</div>