<div class="mui-row new_int_table">
    <form class="mui-form">
        <div class="mui-col-md-4 mui-col-md-offset-1">
            <legend>CANDIDATE</legend>
            <div class="mui-textfield">
                <label>Name</label>
                <input type="text" placeholder="Enter Name" required="required" id="new-int-firstName"> </div>
            <div class="mui-textfield">
                <label>Surname</label>
                <input type="text" placeholder="Enter Surname" required="required" id="new-int-lastName"> </div>
            <div class="mui-textfield">
                <label>Phone</label>
                <input type="phone" placeholder="Enter Phone" required="required" id="new-int-phone"> </div>
            <div class="mui-textfield">
                <label>Email</label>
                <input type="text" placeholder="Enter Email" required="required" id="new-int-email"> </div>
            <div class="mui-textfield">
                <label>Skype</label>
                <input type="text" placeholder="Enter Skype" required="required" id="new-int-skype"> </div>
            <div class="mui-select">
                <label>Position</label>
                <select id="new-int-position">
                    <option disabled>Choose position</option>
                    <option>Architect</option>
                    <option>Development Manager</option>
                    <option>Lead Developer</option>
                    <option>Project Manager</option>
                    <option>Scrummaster</option>
                    <option>Test Manager</option>
                </select>
            </div>
        </div>
        <div class="mui-col-md-4">
            <legend>INTERVIEW</legend>
            <div class="mui-textfield">
                <label>Date</label>
                <input type="date" placeholder="Set Date" id="new-int-date">
                <!-- <span class="add-on">
                    <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                  </span> --></div>
            <div class="mui-textfield">
                <label>Time</label>
                <input type="time" placeholder="Set Time" id="new-int-time"> </div>
            <div class="mui-select">
                <label>Location</label>
                <select id="new-int-location">
                    <option value="" disabled selected>Enter Location</option>
                </select>
            </div>
            <div class="mui-select">
                <label>Room</label>
                <select id="new-int-room" disabled="disabled">
                    <option value="" disabled selected>Choose Room</option>
                    <!-- <option value="room_mordor">Mordor</option>
                    <option value="room_matrix">Matrix</option>-->
                </select>
            </div>
            <div class="mui-select">
                <label>Assigned Person</label>
                <select id="new-int-assperson">
                    <option value="" style="display:none;" selected disabled>Choose person</option>
                    <option value="ass_person_norris">1</option>
                    <option value="ass_person_macgyver">1</option>
                </select>
            </div>
        </div>
    </form>
</div>
<div class="mui-row footer">
    <div class="mui-col-md-7 btn_footer">
        <div>
            <button class="mui-btn mui-btn--raised form_btn_save" id="btn-my-int-save">SAVE</button>
            <button class="mui-btn mui-btn--raised form_btn_cancel" id="btn-my-int-cancel">CANCEL</button>
        </div>
    </div>
</div>
</div>
</div>
<div class="mui-row footer-responsive">
    <div class="mui-col-md-7">
        <div>
            <button class="mui-btn mui-btn--raised form_btn_save" id="btn-my-int-save">SAVE</button>
            <button class="mui-btn mui-btn--raised form_btn_cancel" id="btn-my-int-cancel">CANCEL</button>
        </div>
    </div>
</div>